<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">
<head>

<title>Dashboard</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">



</head>





<body>

	<div class="bodyDiv">
		<div id="header" class="d-flex p-3 bg-secondary text-white">

			<div class=" p-2">
				<h1 style="size: 40px;">Dashboard</h1>
			</div>

		
			<div style="display: flex; margin-left: 956px;">
				<form th:action="@{/download}" method="get">
					<button type="submit" class="btn btn-lg text-white">Download Traps</button>
				</form>
			</div>
			
			

		</div>

		<div class=" repCon">

			<div id="hello" class="text-white p-2">
				<h3 th:inline="text"
					style="font-family: 'Segoe UI', Arial, sans-serif;"
					th:utext="'Hello ' + ${currentUser.organization}">Hello
					[[${#httpServletRequest.remoteUser}]]!</h3>
			</div>

			<div id="reportFilters"
				class=" p-2 d-flex justify-content-between">

				<form th:action="@{/reports}" method="post">
					<div class="m-2 d-flex justify-content-between">

						<div class="m-2 p-1">
							<select name="type">
								<option th:value="ALL" th:text="ALL"></option>
								<option th:value="Http" th:text="Http"></option>
								<option th:value="Ftp" th:text="Ftp"></option>
								<option th:value="Smtp" th:text="Smtp"></option>
							</select>
						</div>

						<div class="m-2">
							<input type="date" name="fromDate" />
						</div>
						<div>
							<button type="submit" class="btn btn-lg text-white">Show
								reports</button>
						</div>
					</div>
					<input type="hidden" name="currentUser"  th:value="${currentUser}"/>
				</form>
			</div>
			

			<div class="reportTable m-5 text-white"
				th:unless="${#arrays.isEmpty(reports)}">
				<h2 style="font-family: 'Segoe UI', Arial, sans-serif;">Reports</h2>
				<table class="table table-hover table-striped text-white">
					<thead>
						<tr>
							<th>No.</th>
							<th>Date</th>
							<th>Protocol</th>

						</tr>
					</thead>
					<tbody>
						<th:block th:each="report, stat : ${reports}">
							<tr th:attr="data-target=|#reportData${stat.index}|"
								data-toggle="collapse">

								<td th:text="${stat.index}+1"></td>
								<td th:text="${#dates.format(report.dateAndTime, 'dd-MM-yyyy  HH:mm:ss')}"></td>
								<td th:text="${{report.type}}"></td>
							</tr>

							<tr>
								<td colspan="3" class="hiddenRow"><pre
										class="text-white collapse" th:id="|reportData${stat.index}|"
										th:text="${{report.toString()}}">
							</pre></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>