
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">
	
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

<style>
body {
	font-family: Arial, Helvetica, sans-serif;
}




</style>
</head>
<body>
	<div class="bodyDiv">
		<div id="header" class="d-flex p-3 bg-secondary text-white">

			<div class=" p-2">
				<h1 style="size: 40px;">Welcome to DSDT</h1>
			</div>
		</div>

	<div id="regLogContainer">

		<button onclick="document.getElementById('id01').style.display='block'" style="width: auto;" class="regBtn btn btn-md btn-block">Login</button>
		<br>

		<form class="form-signin" th:action="@{/signup}" method="get">
			<button class="regBtn btn btn-md btn-block" style="width: auto;" type="Submit">Signup Here</button>
		</form>
	</div>
	
		<div th:style="${badLogin} ? 'display:block' : 'display:none'" id="id01" class="modal">

			<form class="modal-content animate regLogForm" th:action="@{/login}"
				method="post">
				<div class="imgcontainer">
					<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
				</div>

				<div class="container">
					 
					<div th:if="${badLogin}"   th:utext="${badLogin}" class="alert alert-danger"></div>
					 
					<label for="email"><b>Email</b></label> 
					<input type="text" placeholder="Enter Username" name="email" required> 
					<label for="password"><b>Password</b></label> 
					<input type="password" placeholder="Enter Password" name="password" required>

					<button type="submit" class="btn btn-sm regBtn">Login</button>
					<button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-sm regBtn float-right mx-auto">Cancel</button>
				</div>
					
				
				
			</form>
		</div>
	</div>

	<script>
		// Get the modal
		var modal = document.getElementById('id01');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>

</body>
</html>